h1 You've been added as a collaborator on Kronografi
hr
p= "#{@inviter.email} has invited you to collaborate on #{link_to(@world.name, world_events_url(@world))} on Kronografi."

p ="Follow this link to work on #{@world.name}: #{world_events_url(@world)}"