.concept_descriptions {
  color: white;
  font-size: 16px;
}

ul.concept_list {
  list-style: none;
  li {
    width: 28%;
    padding: 1%;
    margin: 1%;
    border: solid thin gray;
    float: left;
    text-align: center;
    img{
      height: 240px;
      display: inline-block;
    }
  }
}