// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$red: #a94442;


.max_width {width: 100%;}
.large {font-size: 24px;}
.white{
  color: white;
  a { color: white;}
}
//.c_characters .mce-edit-area {min-height: 400px !important;}

body {
  background-color: #444;
  color: #eee;
  font-weight: 200;
  padding-top: 60px;
  
  .modal, .panel {color: rgb(51, 51, 51);}
  
  //ul.navbar-nav {width: 80%;}
}

.panel {margin-bottom: 0;}
.panel-heading {
  .tags, .char_list, .actions {
    a { 
      padding-right: .75em;
      &:last-child { padding-right: 0;}
    }
  }
}
.ui-state-hover {background-color: rgba(255,255,255,.3);}

.has-error .help-inline {
  color: $red;
  display: block;
}

ul.years {
  list-style: none;
  padding-left: 0;
  
  > li {
    display: flex;
    border-bottom: solid thin #eee;
    
    .year {
      margin-top: 0;
      margin-bottom: 0;
      float: left;
      color: white;
      font-size: 30px;
    }
    
    .o_year {
      clear: both;
      color: rgba(255,255,255,.3);
      display: block;
      float: left;
    }
  
    ul.months {
      list-style: inherit;
      padding-left: 0;
      > li.month {
        border-top: dotted thin #eee;
        
        &:first-child{border-top: none;}
        
        >a {
          display: block;
          min-height: 2em;
          width: 100%;
          &:hover {background-color: rgb(124,124,124);}
        }
      }
    }
  }
}

.event {
  .tags, .char_list {
    font-size: 85%;
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
  }
}

#tag_list, #char_list {
  padding-left: 2em;
  color: #333;
  max-height: 300px;
  overflow: scroll;
}

#char_age_list {
  max-height: 300px;
  overflow: scroll;
}

.select2-container {
  width: 100%;
  
}

.event_button {
  padding-left: 1em;
}

//Character links
.invalid, .invalid:hover {color: #a94442;}

#sidenav {
  overflow: auto;
}

.ads {
  border: solid thin rgb(119, 119, 119);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  span.label {float: left;}
}