footer {
  width: 100%;
  background-color: white;
  display: table;
  color: rgb(51, 51, 51);
  padding-top: 1em;
  padding-bottom: .5em;
  margin-top: 2em;
  position: relative;
  z-index: 1000;
  
  ul {
    list-style: none;
    
    li {
      padding: .4em;
      
      &.header{
        text-transform: uppercase;
        font-size: 18px;
        padding-left: 0;
      }
    }
  }
}

p.dark {color: #444;}